.bg_color{
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: contain;
  background-color: white;;
  padding-top: 10px;
}

/*----- Promo Images -----*/
.promo_img_1{
  padding: 4%;
  padding-top: 0;
}

hr{
  background: #80808075 !important;
}

