<header-page [title]="'Promotions'"></header-page>

<ion-content>
    <ion-item>
        <ion-label text-left>Select Brand</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="selectedPromotion">
          <ion-select-option class="desc" *ngFor="let promo of selectedPromotion" [value]="promo"> {{promo.BrochureName }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    
      <iframe style="width: 100%;height:70vh" [src]="sanitizeUrl(selectedPromotion.BrochureURL)"></iframe>
</ion-content>