<header-page [title]="'hi'" [backbutton]="false" ></header-page>

<ion-content class="bg2">
 
  <ng-template #weeklyOffers>
    <div class="mediaSlides">
      <div style="padding: 4%;font-size: 16px;">
        <ion-row *ngIf="buttonList.length>0">
          <ion-col>
            <button class="dashBtn websiteBtn" (click)="navigate(buttonList[0])">
              <i class="fa fa-desktop" aria-hidden="true"></i>
            </button>
            <p class="btnTxt"> {{buttonList[0].Text}} </p>
          </ion-col>
          <ion-col>
            <button class="dashBtn offerBtn" (click)="navigate(buttonList[1])">
              <i class="fa fa-percent" aria-hidden="true"></i>
            </button>
            <p class="btnTxt">{{buttonList[1].Text}}</p>
          </ion-col>
          <ion-col>
            <button class="dashBtn socialMediaBtn" (click)="navigate(buttonList[2])">
              <i class="fa fa-rss" aria-hidden="true"></i>

            </button>
            <p class="btnTxt">{{buttonList[2].Text}}</p>
          </ion-col>

          <ion-col>
            <button class="dashBtn corporateBtn" (click)="navigate(buttonList[3])">
              <i class="fa fa-building" aria-hidden="true"></i>
            </button>
            <p class="btnTxt">{{buttonList[3].Text}}</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ng-template>


  <ng-template #carouselSlider>
    <div class="img_box1" style="margin-top: 5px;">
      <div class="relate">
        <ion-slides pager="true" [options]="headerSlider" *ngIf="carouselList" #slides>
          <ion-slide *ngFor="let carousel of carouselList">
            <img [src]="imgAddress + carousel.ImageLink" alt="" (click)="openCarouselPage(carousel.Url)">
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </ng-template>

</ion-content>