<div class="footer_tab">
  <ion-tabs>
    <ion-tab-bar>
      <ng-container *ngIf="!authenticated;else authenticateBlock">

        <ion-tab-button tab="dashboard-guest">
          <ion-icon name="home" class="tab-icon about"></ion-icon>
          <span class="tabIconName"> {{'home' | translate}} </span>
        </ion-tab-button>

        <ion-tab-button tab="promotion">
          <ion-icon name="cart" class="tab-icon about"></ion-icon>
          <span class="tabIconName">  {{'promotions' | translate}} </span>
        </ion-tab-button>

      </ng-container>

      <ng-template #authenticateBlock>
        <!-- <ion-tab-button tab="dashboard-user">
          <ion-icon name="home" class="tab-icon about"></ion-icon>
          <span class="tabIconName">  {{'home' | translate}} </span>
        </ion-tab-button> -->

        <ion-tab-button tab="my-cards">
          <ion-icon name="home" class="tab-icon about"></ion-icon>
          <span class="tabIconName">  {{'home' | translate}} </span>
        </ion-tab-button>

        <ion-tab-button tab="transaction">
          <ion-icon name="cart" class="tab-icon about"></ion-icon>
          <span class="tabIconName">  {{'transaction' | translate}}</span>
        </ion-tab-button>

      </ng-template>

      <ion-tab-button tab="store">
        <ion-icon name="location-sharp" class="tab-icon about"></ion-icon>
        <span class="tabIconName">  {{'store' | translate}} </span>
      </ion-tab-button>

      <ion-tab-button (click)="myAccount()" tab="my-account">
        <ion-icon name="menu" class="tab-icon about"></ion-icon>
        <span class="tabIconName">   {{'more' | translate}} </span>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- <ion-fab vertical="bottom" style="bottom: 0px;left:51%" *ngIf="authenticated" edge horizontal="center" slot="fixed"
    tab="my-cards">
    <ion-fab-button (click)="gotoCard()" class="fabBtn">
      <ion-icon name="card" class="middleIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</div>