
<div class="wrapper">

  <!--  Header  -->
  <header class="section header">
    <img src="../../assets/images/logo2.png" class="logo" alt="">
    <div class="trapezoid"></div>
    <div class="header__text">
      <h1 class="ml5">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters letters-left">Hayyak</span>
          <span class="letters ampersand"></span>
          <span class="letters letters-right">Loyalty</span>
          <span class="line line2"></span>
        </span>
      </h1>

      <p id="welcomeTxt" class="ml3">Welcome to Hayyak</p>
    </div>
  </header>
  <ion-icon name="arrow-forward-circle-outline" class="skip" [routerLink]="'/tab/tabs/dashboard-guest'"></ion-icon>
  <section class="section sign-in">
    <form id="loginForm" novalidate [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <ion-item>
        <ion-label position="floating"> {{'email' | translate}} </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="( loginForm.get('email').hasError('required') ) && loginForm.get('email').touched">
        <ion-text class="error-msg" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
          {{'emailRequired' | translate}}
        </ion-text>
      </div>

      <div *ngIf="( loginForm.get('email').hasError('email') ) && loginForm.get('email').touched">
        <ion-text class="error-msg" *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">
          {{'emailInvalid' | translate}}
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="floating"> {{'pwd' | translate}} </ion-label>
        <ion-input type="{{showPass ? 'text' : 'password'}}" (keydown.enter)="loginSubmit()" formControlName="password">
        </ion-input>
        <ion-icon class="eyeIcon" item-end slot="end" class="eye" name="{{showPass ? 'eye' : 'eye-off'}}"
          (click)="showPass=!showPass"></ion-icon>
      </ion-item>

      <div *ngIf="( loginForm.get('password').hasError('required') ) && loginForm.get('password').touched">
        <ion-text class="error-msg" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          {{'pwdRequired' | translate}}
        </ion-text>
      </div>

      <ion-text class="forgot-password-text" (click)="forgotPassword()">
       {{'forgotPassText' | translate}}
      </ion-text>

      <ion-text class="new-user" [routerLink]="'/register'">
        {{'newUser' | translate}}
       </ion-text>


      <ion-button type="submit" class="login" expand="block" [disabled]="loginForm.invalid || showSpinner">
        {{'login' | translate}}
        <ion-spinner name="dots" *ngIf="showSpinner"></ion-spinner>
      </ion-button>
    </form>
  </section>
</div>