
.aboutImg{
    height: 70px;
    width: 100%;
    }
    .headerTxt{
      color: #806120;
      padding: 30px 10px 30px 10px !important;
      text-align: justify;
    }
    .desc{
      color: #806120;
    }
  