ion-header {
  // background: #f5f5f5 !important;
  background: linear-gradient(90deg,#c8cecb,#747b7b)!important;
  box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11);
}
.top_header {
  padding: 22px 10px 20px 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  p {
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.23px;
    color: #272727;
    margin: 0;
    font-family: var(--ion-font-family, inherit);
  }
  .left {
    padding-right: 5%;
    height: 24px;
    padding-top: 3px;
  }
  .center {
    flex: 70%;
    p {
      font-family: var(--ion-font-family, inherit);
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.23px;
      text-align: left;
      color: #272727;
      span {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0.18px;
        color: #0b4e29;
      }
    }
  }
  .right {
    img {
      width: 60px;
      position: absolute;
      left: 80%;
      bottom: 0;
      margin: 0px;
      padding: 0px;
      top: 14px;
    }
  }
}